.r .hll { background-color: #333333 }
.r  { background: #111111; color: #ffffff }
.r .c { color: #008800; font-style: italic; background-color: #0f140f } /* Comment */
.r .err { color: #ffffff } /* Error */
.r .esc { color: #ffffff } /* Escape */
.r .g { color: #ffffff } /* Generic */
.r .k { color: #fb660a; font-weight: bold } /* Keyword */
.r .l { color: #ffffff } /* Literal */
.r .n { color: #ffffff } /* Name */
.r .o { color: #ffffff } /* Operator */
.r .x { color: #ffffff } /* Other */
.r .p { color: #ffffff } /* Punctuation */
.r .ch { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Hashbang */
.r .cm { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Multiline */
.r .cp { color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f } /* Comment.Preproc */
.r .cpf { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.PreprocFile */
.r .c1 { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Single */
.r .cs { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Special */
.r .gd { color: #ffffff } /* Generic.Deleted */
.r .ge { color: #ffffff } /* Generic.Emph */
.r .gr { color: #ffffff } /* Generic.Error */
.r .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.r .gi { color: #ffffff } /* Generic.Inserted */
.r .go { color: #444444; background-color: #222222 } /* Generic.Output */
.r .gp { color: #ffffff } /* Generic.Prompt */
.r .gs { color: #ffffff } /* Generic.Strong */
.r .gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */
.r .gt { color: #ffffff } /* Generic.Traceback */
.r .kc { color: #fb660a; font-weight: bold } /* Keyword.Constant */
.r .kd { color: #fb660a; font-weight: bold } /* Keyword.Declaration */
.r .kn { color: #fb660a; font-weight: bold } /* Keyword.Namespace */
.r .kp { color: #fb660a } /* Keyword.Pseudo */
.r .kr { color: #fb660a; font-weight: bold } /* Keyword.Reserved */
.r .kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */
.r .ld { color: #ffffff } /* Literal.Date */
.r .m { color: #0086f7; font-weight: bold } /* Literal.Number */
.r .s { color: #0086d2 } /* Literal.String */
.r .na { color: #ff0086; font-weight: bold } /* Name.Attribute */
.r .nb { color: #ffffff } /* Name.Builtin */
.r .nc { color: #ffffff } /* Name.Class */
.r .no { color: #0086d2 } /* Name.Constant */
.r .nd { color: #ffffff } /* Name.Decorator */
.r .ni { color: #ffffff } /* Name.Entity */
.r .ne { color: #ffffff } /* Name.Exception */
.r .nf { color: #ff0086; font-weight: bold } /* Name.Function */
.r .nl { color: #ffffff } /* Name.Label */
.r .nn { color: #ffffff } /* Name.Namespace */
.r .nx { color: #ffffff } /* Name.Other */
.r .py { color: #ffffff } /* Name.Property */
.r .nt { color: #fb660a; font-weight: bold } /* Name.Tag */
.r .nv { color: #fb660a } /* Name.Variable */
.r .ow { color: #ffffff } /* Operator.Word */
.r .w { color: #888888 } /* Text.Whitespace */
.r .mb { color: #0086f7; font-weight: bold } /* Literal.Number.Bin */
.r .mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */
.r .mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */
.r .mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */
.r .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */
.r .sb { color: #0086d2 } /* Literal.String.Backtick */
.r .sc { color: #0086d2 } /* Literal.String.Char */
.r .sd { color: #0086d2 } /* Literal.String.Doc */
.r .s2 { color: #0086d2 } /* Literal.String.Double */
.r .se { color: #0086d2 } /* Literal.String.Escape */
.r .sh { color: #0086d2 } /* Literal.String.Heredoc */
.r .si { color: #0086d2 } /* Literal.String.Interpol */
.r .sx { color: #0086d2 } /* Literal.String.Other */
.r .sr { color: #0086d2 } /* Literal.String.Regex */
.r .s1 { color: #0086d2 } /* Literal.String.Single */
.r .ss { color: #0086d2 } /* Literal.String.Symbol */
.r .bp { color: #ffffff } /* Name.Builtin.Pseudo */
.r .vc { color: #fb660a } /* Name.Variable.Class */
.r .vg { color: #fb660a } /* Name.Variable.Global */
.r .vi { color: #fb660a } /* Name.Variable.Instance */
.r .il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */
