body {
    background-color: #272727;
}

.homepage h1.site-title {
    font-size: 4em;
}

.homepage h1.headline {
    font-size: 2em;
}

@media (max-width: 52em){
  .homepage h1.site-title {
      font-size: 3em;
  }
}

@media (max-width: 36em){
  .homepage h1.site-title {
      font-size: 1.5em;
  }
}
@media (max-width: 52em){
.homepage h1.headline {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5em;
}}

@media (max-width: 52em){
article.single h1.headline {
    font-size: 2em;
}
}

@media (max-width: 36em){
article.single h1.headline {
    font-size: 1.5em;
}
}

article.single section,
.article-list article {
  padding-left: 32px;
  padding-left: 2rem;
  padding-right: 32px;
  padding-right: 2rem;
}

article.single pre {
  padding: 0.5rem;
}

img {
  display: block;
  margin: 0 0 1rem;
  border-radius: 5px;
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

article.single p code {
    padding: 0.3em 0.1em;
    border-radius: 3px;
    background: #747369;
    color: #f2f0ec;
}