body {
    background-color: #555555;
}

.homepage h1.site-title {
    font-size: 4em;
}

article.single section,
.article-list article {
  padding-left: 32px;
  padding-left: 2rem;
  padding-right: 32px;
  padding-right: 2rem;
}