{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">across</span><span class="base09">the</span><span class="base0a">tidy</span><span class="base0b">v</span><span class="base0c">e</span><span class="base0d">rse</span><span class="base05">]</span>
  <span class="base05">> </span>
</h1>

<div class="hero-logo">
  <img src="{{ $baseurl }}img/base16-eighties.svg">
</div>

<div style="text-align: center;">
  Exploring the constellations of useful functions in the <code>tidyverse</code>
</div>
